USE [master]
GO
/****** Object:  Database [IT-Center]    Script Date: 08.06.2021 5:42:24 ******/
CREATE DATABASE [IT-Center]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IT-Center', FILENAME = N'D:\Database\IT-Center.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IT-Center_log', FILENAME = N'D:\Database\IT-Center_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_100_CS_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IT-Center].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IT-Center]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIrstName] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[LastName] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[MiddleName] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NULL,
	[TelephoneNumber] [nvarchar](13) COLLATE Cyrillic_General_100_CS_AS NULL,
	[Email] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[TypeOfDetailId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](max) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailOfOrder]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailOfOrder](
	[OrderId] [int] NOT NULL,
	[DetailId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DetailOfOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[LastName] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[MiddleName] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTimeOfCreate] [datetime] NOT NULL,
	[DateTimeOfEnd] [datetime] NULL,
	[ClientId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Description] [nvarchar](100) COLLATE Cyrillic_General_100_CS_AS NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Descritpion] [nvarchar](max) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[TypeOfProductId] [int] NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOfSale]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOfSale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SaleId] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_ProductOfSale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTimeOfSale] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[ClientId] [int] NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Description] [nvarchar](max) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceOfOrder]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOfOrder](
	[OrderId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceOfOrderStatusId] [int] NOT NULL,
	[DateTimeEnd] [datetime] NULL,
 CONSTRAINT [PK_ServiceOfOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceOfOrderStatus]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOfOrderStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_ServiceOfOrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfDetail]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_TypeOfDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfProduct]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_TypeOfProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08.06.2021 5:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[Login] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Password] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Id], [FIrstName], [LastName], [MiddleName], [TelephoneNumber], [Email]) VALUES (1, N'Иван', N'Иванов', N'Иванович', N'89513242424', NULL)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Detail] ON 

INSERT [dbo].[Detail] ([Id], [Name], [TypeOfDetailId], [Price], [Description], [Photo]) VALUES (1, N'Деталь', 1, CAST(125.00 AS Decimal(10, 2)), N'Описание', NULL)
SET IDENTITY_INSERT [dbo].[Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[DetailOfOrder] ON 

INSERT [dbo].[DetailOfOrder] ([OrderId], [DetailId], [Count], [Id]) VALUES (3, 1, 4, 1)
SET IDENTITY_INSERT [dbo].[DetailOfOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [MiddleName], [RoleId]) VALUES (2, N'Пётр', N'Петров', N'Петрович', 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [DateTimeOfCreate], [DateTimeOfEnd], [ClientId], [EmployeeId], [Description]) VALUES (1, CAST(N'2021-06-07T00:00:00.000' AS DateTime), NULL, 1, 2, N'ТЕстовый заказ')
INSERT [dbo].[Order] ([Id], [DateTimeOfCreate], [DateTimeOfEnd], [ClientId], [EmployeeId], [Description]) VALUES (3, CAST(N'2021-06-08T04:09:07.250' AS DateTime), NULL, 1, 2, N'c')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Администратор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [Name], [Description], [Price]) VALUES (1, N'Тест1', N'Описание тест', CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([Id], [Name], [Description], [Price]) VALUES (2, N'Тест2', N'описание 2', CAST(1400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceOfOrder] ON 

INSERT [dbo].[ServiceOfOrder] ([OrderId], [ServiceId], [Id], [ServiceOfOrderStatusId], [DateTimeEnd]) VALUES (1, 1, 1, 2, CAST(N'2021-06-08T05:19:07.173' AS DateTime))
INSERT [dbo].[ServiceOfOrder] ([OrderId], [ServiceId], [Id], [ServiceOfOrderStatusId], [DateTimeEnd]) VALUES (1, 2, 2, 2, CAST(N'2021-06-08T05:19:07.203' AS DateTime))
INSERT [dbo].[ServiceOfOrder] ([OrderId], [ServiceId], [Id], [ServiceOfOrderStatusId], [DateTimeEnd]) VALUES (3, 1, 3, 3, CAST(N'2021-06-08T05:19:07.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[ServiceOfOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceOfOrderStatus] ON 

INSERT [dbo].[ServiceOfOrderStatus] ([Id], [Name]) VALUES (1, N'Выполняется')
INSERT [dbo].[ServiceOfOrderStatus] ([Id], [Name]) VALUES (2, N'Выполнена')
INSERT [dbo].[ServiceOfOrderStatus] ([Id], [Name]) VALUES (3, N'Отменена')
SET IDENTITY_INSERT [dbo].[ServiceOfOrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfDetail] ON 

INSERT [dbo].[TypeOfDetail] ([Id], [Name]) VALUES (1, N'Новый тип')
SET IDENTITY_INSERT [dbo].[TypeOfDetail] OFF
GO
INSERT [dbo].[User] ([Id], [Login], [Password]) VALUES (2, N'1', N'1')
GO
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_TypeOfDetail] FOREIGN KEY([TypeOfDetailId])
REFERENCES [dbo].[TypeOfDetail] ([Id])
GO
ALTER TABLE [dbo].[Detail] CHECK CONSTRAINT [FK_Detail_TypeOfDetail]
GO
ALTER TABLE [dbo].[DetailOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_DetailOfOrder_Detail] FOREIGN KEY([DetailId])
REFERENCES [dbo].[Detail] ([Id])
GO
ALTER TABLE [dbo].[DetailOfOrder] CHECK CONSTRAINT [FK_DetailOfOrder_Detail]
GO
ALTER TABLE [dbo].[DetailOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_DetailOfOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[DetailOfOrder] CHECK CONSTRAINT [FK_DetailOfOrder_Order]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_TypeOfProduct] FOREIGN KEY([TypeOfProductId])
REFERENCES [dbo].[TypeOfProduct] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_TypeOfProduct]
GO
ALTER TABLE [dbo].[ProductOfSale]  WITH CHECK ADD  CONSTRAINT [FK_ProductOfSale_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductOfSale] CHECK CONSTRAINT [FK_ProductOfSale_Product]
GO
ALTER TABLE [dbo].[ProductOfSale]  WITH CHECK ADD  CONSTRAINT [FK_ProductOfSale_Sale] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sale] ([Id])
GO
ALTER TABLE [dbo].[ProductOfSale] CHECK CONSTRAINT [FK_ProductOfSale_Sale]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Client]
GO
ALTER TABLE [dbo].[ServiceOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[ServiceOfOrder] CHECK CONSTRAINT [FK_ServiceOfOrder_Order]
GO
ALTER TABLE [dbo].[ServiceOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfOrder_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[ServiceOfOrder] CHECK CONSTRAINT [FK_ServiceOfOrder_Service]
GO
ALTER TABLE [dbo].[ServiceOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfOrder_ServiceOfOrderStatus] FOREIGN KEY([ServiceOfOrderStatusId])
REFERENCES [dbo].[ServiceOfOrderStatus] ([Id])
GO
ALTER TABLE [dbo].[ServiceOfOrder] CHECK CONSTRAINT [FK_ServiceOfOrder_ServiceOfOrderStatus]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Employee] FOREIGN KEY([Id])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Employee]
GO
USE [master]
GO
